// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  padding: 25px;
}

.card {
  margin-bottom: 20px;
}

.img-thumbnail {
  max-width: 100px;
  max-height: 150px;
}

.btn {
  border-radius: 8px;
}

img {
  border-radius: 8px;
}

.banner-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
